@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "fontello";

/*
Global styles
*/

h1,
h2,
h4 {
  font-family: "Satisfy", cursive;
}
h1,
h2 {
  color: $dusty-rose;
}
h2 {
  margin-bottom: 1.5rem;
}
section h3 {
  color: $medium-gray;
}
section h4 {
  color: $medium-gray;
}
ul li {
  padding-left: 1rem;
}
figure.figure{
  display: block;
}

main section {
  &:not(:last-child) {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: $dark-gray;
  }
  padding-bottom: 2rem;
  padding-top: 2rem;
}



