@import "variables";

#portfolio .row{
    border-bottom: 2px dotted $dusty-rose;
    margin-bottom: 1.6rem;
}

#portfolio img {
    border: 2px solid $dusty-rose;
}
  
#portfolio .badge.bg-primary{
    background-color: $dusty-rose !important;
    margin-right: 10px;
    font-weight: 400
}

#portfolio .list-unstyled li{margin-left: 0; padding-left: 0}
#portfolio .list-unstyled li:before{color: $dusty-rose}